/*Variables Colores*/

$colorPrincipal: #abb39c;
$colorSecundario: #333333;
$colorTerciario: #555;


/*Variables responsive*/

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
