/*Variables Colores*/

$colorPrincipal: #abb39c;
$colorSecundario: #333333;
$colorTerciario: #555;



/*Variables Fuentes*/

$fuentePrincipal: "Montserrat", sans-serif;
$fuenteSecundaria: "Lato", sans-serif;
$fuenteTerciaria: "Baskervville", serif;


